/* =========================================================
	BASE
	========================================================= */

/* VARIABLES */

:root {
	--main-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	--base-font-size: 14px;
	--site-padding: 15px;
}

/* SETUP */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--main-font-family);
	font-size: var(--base-font-size);
	color: #333;
	background-color: #fff;
}

img {
	max-width: 100%;
}

textarea {
	resize: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 3px #54a2c7;
}

/* COMMON STYLES */

.spacer {
	height: 600px;
}

/* %container */

.container,
.section__container {
	margin: auto;
	padding-right: var(--site-padding);
	padding-left: var(--site-padding);
}

/* hide semantic elements */

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* =========================================================
	MODULE
	========================================================= */

/* CONTAINER */

.container {
	max-width: 1170px;
}

/* PAGE */

.page__title {
	font-weight: 400;
	line-height: 1.15;
	text-shadow: 2px 2px #000;
	text-transform: capitalize;
}

.page__link {
	color: #337ab7;
}

.page__link:visited {}

.page__link:hover,
.page__link:focus {
	color: #23527c;
}

/* GRID */

:root {
	--grid-gap: 15px;
}

.row {
	margin-right: calc(-1 * var(--grid-gap));
	margin-left: calc(-1 * var(--grid-gap));
	font-size: 0;
}

.row:not(:last-child) {
	margin-bottom: 40px;
}

.col {
	display: inline-block;
	vertical-align: top;

	padding-right: var(--grid-gap);
	padding-left: var(--grid-gap);
	font-size: var(--base-font-size);
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333%;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}

/* BUTTON */

button.button {
	font-family: inherit;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button {
	display: inline-block;
	vertical-align: middle;

	padding: 11px 30px;
	font-size: 18px;
	line-height: 1.15;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-transform: capitalize;

	-webkit-transition: color .3s ease,
							  background-color .3s ease;
			  transition: color .3s ease,
							  background-color .3s ease;
}

.button:hover,
.button:focus {
	color: #23527c;
	background-color: #e6e6e6;
}

/* FORM CONTROL */

.form-control {
	display: block;
	width: 100%;
	padding: 8px 10px;

	font-family: inherit;
	font-size: inherit;
	line-height: 1.4;
	border: none;
}

.form-control::-webkit-input-placeholder {
	color: #000;
}

.form-control:-ms-input-placeholder {
	color: #000;
}

.form-control::-moz-placeholder {
	opacity: 1;
}

.form-control::placeholder {
	color: #000;
}

/* CONTACT FORM */

.contact-form__background {
	border-radius: 5px;
	background-color: rgba(242, 242, 242, .4);
}

.contact-form__form-control:not(:last-of-type) {
	margin-bottom: 13px;
}

.contact-form__message {
	height: 131px;
}

.contact-form__button-wrapper {
	margin-top: 20px;
	text-align: left;
}

.contact-form__button {
	color: #fff;
	background-color: #262628;
}

.contact-form__button:hover,
.contact-form__button:focus {
	color: #333;
}

/* NAVIGATION */

.nav {
	font-size: 0;
}

.nav__content {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
}

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__link {
	display: inline-block;
	vertical-align: middle;

	padding: 12px 25px;
	font-size: 20px;
	line-height: 1.15;
	border: 1px solid #646d7c;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;

	-webkit-transition: color .3s ease,
							  background-color .3s ease;
			  transition: color .3s ease,
							  background-color .3s ease;
}

.nav__link:hover,
.nav__link:focus {
	color: #fff;
	background-color: #49505f;
}

/* ARTICLES */

.articles {
	background-color: #fff;
}

.article {
	background-color: #f2f2f2;
}

.article__img {
	vertical-align: middle;
}

.article__content {
	padding: 20px 20px 25px;
}

.article__title {
	margin-top: 0;
	margin-bottom: 1em;

	font-size: 20px;
	line-height: 1.15;
	color: #666;
	text-align: center;
	text-transform: capitalize;
}

.article__desc {
	line-height: 1.6;
}

.article__paragraph {
	margin: 0;
}

.article__paragraph:not(:last-of-type) {
	margin-bottom: 10px;
}

.article__button-wrapper {
	margin-top: 25px;
	text-align: center;
}

/* SECTION */

.section__container {
	max-width: 750px;
}

.section__title {
	font-size: 36px;
}

.section__desc {
	font-size: 16px;
	line-height: 1.6;
}


/* =========================================================
	LAYOUT
	========================================================= */

/* TOPLINE */

.topline {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 800;

	background-color: #383e4c;
}

.topline__nav {
	padding-top: 10px;
	padding-bottom: 12px;
	text-align: center;
}

/* HERO */

.hero {
	padding-top: 300px;
	padding-bottom: 240px;

	text-align: center;
	color: #fff;
	background: url('../img/bg-hero-1.jpg') #9c6f60 no-repeat center bottom / cover fixed;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 68px;
	text-transform: uppercase;
}

.hero__subtitle {
	margin: 0;

	font-size: 24px;
	font-weight: 400;
	line-height: 1.15;
	text-shadow: 1px 1px #000;
	text-transform: capitalize;
}

/* FEATURES */

.features {
	padding-top: 80px;
	padding-bottom: 30px;
}

.feature__title {
	margin-bottom: 15px;
	text-align: left;
}

.feature__title_green {
	color: #178a27;
	text-transform: initial;
}

.feature__title_blue {
	color: #1686c1;
}

.feature__button {
	color: #fff;
	border-radius: 5px;
	text-align: center;
}

.feature__button:hover,
.feature__button:focus {
	color: #fff;
}

.feature__button_green {
	background-color: #178a27;
}

.feature__button_green:hover,
.feature__button_green:focus {
	background-color: #449d44;
}

.feature__button_blue {
	background-color: #1686c1;
}

.feature__button_blue:hover,
.feature__button_blue:focus {
	background-color: #31b0d5;
}

.feature__button_red {
	background-color: #852406;
}

.feature__button_red:hover,
.feature__button_red:focus {
	background-color: #c9302c;
}

/* BLOG */

.blog {
	padding-top: 30px;
	padding-bottom: 90px;
}

.blog-entry__content {
	padding: 20px 27px 27px;
}

.blog-entry__title {
	margin-bottom: 35px;
}

.blog-entry__button-wrapper {
	text-align: right;
}

.blog-entry__button:hover,
.blog-entry__button:focus {
	color: #666;
}

/* SERVICES */

.services {
	padding-top: 80px;
	padding-bottom: 80px;

	color: #fff;
	background: url('../img/bg-services.jpg') #497da2 no-repeat center / cover fixed;
	text-align: center;
}

.services__title {
	margin-top: 0;
	margin-bottom: 20px;
	text-shadow: 2px 2px #aaa;
}

.services__desc {
	margin: 0;
}

/* TESTIMONIALS */

.testimonials {
	padding-top: 80px;
	padding-bottom: 90px;
}

.testimonial {
	max-width: 260px;
	height: 506px;
	margin: auto;
}

.testimonial-article__content {
	padding: 20px 30px 30px;
}

.testimonial-article__title {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: left;
}

.testimonial-article__button-wrapper {
	text-align: left;
}

/* CONTACTS */

.contacts {
	padding-top: 90px;
	padding-bottom: 80px;

	color: #000;
	background: url('../img/bg-contact-form.jpg') #715950 no-repeat center / cover fixed;
	text-align: center;
}

.contacts__title {
	margin-top: 0;
	margin-bottom: 30px;
	color: #fff;
}

.contacts__desc {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 20px 50px;
}

/* FOOTER */

/* LICENSE */

.license {
	font-style: italic;
	background-color: #fff;
}

.license__title {
	margin-top: 0;
	margin-bottom: 30px;

	font-size: 32px;
	line-height: 1.15;
	font-weight: 400;
	color: #666;
}

.license__desc {
	margin: 0;
	line-height: 1.6;
	color: #999;
}

/* LICENSE END */

.footer {
	text-align: center;
}

.footer__license {
	padding-top: 50px;
	padding-bottom: 55px;

	border-bottom: 1px solid #eee;
}

.footer__copyright {
	margin-top: 26px;
	margin-bottom: 26px;

	font-size: 12px;
	line-height: 1.6;
	color: #666;
}
